@font-face {
    font-family: Literata-Black;
    src: url('/font/Literata-Black.ttf') format('truetype');
}

@font-face {
    font-family: Literata-BlackItalic;
    src: url(../font/Literata-BlackItalic.ttf);
}

@font-face {
    font-family: Literata-Bold;
    src: url(../font/Literata-Bold.ttf);
}
